body {
    background-image: url("../images/background.png");
}

h1, h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float: left;
}

#title {
    color: white;
    background-color: #4aaaa5;
    width: 250px;
    float: left;
    display: block;
    padding: 15px 0px;
    text-align: center;
}

#profile-picture {
    height: 200px;
    width: 250px;
    float: left;
}

span {
    background-color: #4aaaa5;
}

header {
    background-color: gray;
    height: 50px;
}
.menu-item {
    width: 15%;
    float: left;
    clear: right;
    margin: 10px 15px;
    
}
#menu-item-push { 
    float: right;
    margin-right: 150px; 
}
.main-content {
    background-color: white;
    width: 650px;
    /*margin: 13px 13px 13px 27px;*/
    clear: both;
}

.side-bar {
    background-color: white;
    width: 270px;
    float: left;
    clear: right;
}

#stripe {
    border: solid #4aaaa5;
}

footer {
    background-color: white;
}